{
  "openapi": "3.0.4",
  "info": {
    "title": "DigitalOcean API",
    "description": "",
    "termsOfService": "https://www.digitalocean.com/legal/terms-of-service-agreement/",
    "contact": {
      "name": "DigitalOcean API Team",
      "email": "api-engineering@digitalocean.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "2.0"
  },
  "servers": [
    {
      "url": "https://api.digitalocean.com",
      "description": "production"
    }
  ],
  "paths": {
    "/v2/1-clicks": {
      "get": {
        "tags": [
          "1-Click Applications"
        ],
        "summary": "List 1-Click Applications",
        "description": "To list all available 1-Click applications, send a GET request to \u0060/v2/1-clicks\u0060. The \u0060type\u0060 may\nbe provided as query paramater in order to restrict results to a certain type of 1-Click, for\nexample: \u0060/v2/1-clicks?type=droplet\u0060. Current supported types are \u0060kubernetes\u0060 and \u0060droplet\u0060.\n\nThe response will be a JSON object with a key called \u00601_clicks\u0060. This will be set to an array of\n1-Click application data, each of which will contain the the slug and type for the 1-Click.\n",
        "operationId": "OneClicksList",
        "parameters": [
          {
            "$ref": "#/components/parameters/oneClicks_type"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/oneClicks_all"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/too_many_requests"
          },
          "500": {
            "$ref": "#/components/responses/server_error"
          },
          "default": {
            "$ref": "#/components/responses/unexpected_error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/v2/1-clicks/kubernetes": {
      "post": {
        "tags": [
          "1-Click Applications"
        ],
        "summary": "Install Kubernetes 1-Click Applications",
        "description": "To install a Kubernetes 1-Click application on a cluster, send a POST request to\n\u0060/v2/1-clicks/kubernetes\u0060. The \u0060addon_slugs\u0060 and \u0060cluster_uuid\u0060 must be provided as body\nparameter in order to specify which 1-Click application(s) to install. To list all available\n1-Click Kubernetes applications, send a request to \u0060/v2/1-clicks?type=kubernetes\u0060.\n",
        "operationId": "OneClicksInstallKubernetes",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OneClicksCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/oneClicks_create"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/too_many_requests"
          },
          "500": {
            "$ref": "#/components/responses/server_error"
          },
          "default": {
            "$ref": "#/components/responses/unexpected_error"
          }
        },
        "security": [
          {
            "bearer_auth": [
              "kubernetes:update",
              "addon:create"
            ]
          }
        ]
      }
    },
    "/v2/account": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get User Information",
        "description": "To show information about the current user account, send a GET request to \u0060/v2/account\u0060.",
        "operationId": "AccountGet",
        "responses": {
          "200": {
            "$ref": "#/components/responses/account"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/too_many_requests"
          },
          "500": {
            "$ref": "#/components/responses/server_error"
          },
          "default": {
            "$ref": "#/components/responses/unexpected_error"
          }
        },
        "security": [
          {
            "bearer_auth": [
              "account:read"
            ]
          }
        ]
      }
    },
    "/v2/account/keys": {
      "get": {
        "tags": [
          "SSH Keys"
        ],
        "summary": "List All SSH Keys",
        "description": "To list all of the keys in your account, send a GET request to \u0060/v2/account/keys\u0060. The response will be a JSON object with a key set to \u0060ssh_keys\u0060. The value of this will be an array of ssh_key objects, each of which contains the standard ssh_key attributes.",
        "operationId": "SshKeysList",
        "parameters": [
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/sshKeys_all"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/too_many_requests"
          },
          "500": {
            "$ref": "#/components/responses/server_error"
          },
          "default": {
            "$ref": "#/components/responses/unexpected_error"
          }
        },
        "security": [
          {
            "bearer_auth": [
              "ssh_key:read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "SSH Keys"
        ],
        "summary": "Create a New SSH Key",
        "description": "To add a new SSH public key to your DigitalOcean account, send a POST request to \u0060/v2/account/keys\u0060. Set the \u0060name\u0060 attribute to the name you wish to use and the \u0060public_key\u0060 attribute to the full public key you are adding.",
        "operationId": "SshKeysCreate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SshKeys"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/sshKeys_new"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/too_many_requests"
          },
          "500": {
            "$ref": "#/components/responses/server_error"
          },
          "default": {
            "$ref": "#/components/responses/unexpected_error"
          }
        },
        "security": [
          {
            "bearer_auth": [
              "ssh_key:create"
            ]
          }
        ]
      }
    },
    "/v2/account/keys/{sshKeyIdentifier}": {
      "get": {
        "tags": [
          "SSH Keys"
        ],
        "summary": "Retrieve an Existing SSH Key",
        "description": "To get information about a key, send a GET request to \u0060/v2/account/keys/$KEY_ID\u0060 or \u0060/v2/account/keys/$KEY_FINGERPRINT\u0060.\nThe response will be a JSON object with the key \u0060ssh_key\u0060 and value an ssh_key object which contains the standard ssh_key attributes.",
        "operationId": "SshKeysGet",
        "parameters": [
          {
            "$ref": "#/components/parameters/ssh_key_identifier"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/sshKeys_existing"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "429": {
            "$ref": "#/components/responses/too_many_requests"
          },
          "500": {
            "$ref": "#/components/responses/server_error"
          },
          "default": {
            "$ref": "#/components/responses/unexpected_error"
          }
        },
        "security": [
          {
            "bearer_auth": [
              "ssh_key:read"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "SSH Keys"
        ],
        "summary": "Update an SSH Key\u0027s Name",
        "description": "To update the name of an SSH key, send a PUT request to either \u0060/v2/account/keys/$SSH_KEY_ID\u0060 or \u0060/v2/account/keys/$SSH_KEY_FINGERPRINT\u0060. Set the \u0060name\u0060 attribute to the new name you want to use.",
        "operationId": "SshKeysUpdate",
        "parameters": [
          {
            "$ref": "#/components/parameters/ssh_key_identifier"
          }
        ],
        "requestBody": {
          "description": "Set the \u0060name\u0060 attribute to the new name you want to use.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SshKeysUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/sshKeys_existing"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "429": {
            "$ref": "#/components/responses/too_many_requests"
          },
          "500": {
            "$ref": "#/components/responses/server_error"
          },
          "default": {
            "$ref": "#/components/responses/unexpected_error"
          }
        },
        "security": [
          {
            "bearer_auth": [
              "ssh_key:update"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "SSH Keys"
        ],
        "summary": "Delete an SSH Key",
        "description": "To destroy a public SSH key that you have in your account, send a DELETE request to \u0060/v2/account/keys/$KEY_ID\u0060 or \u0060/v2/account/keys/$KEY_FINGERPRINT\u0060.\nA 204 status will be returned, indicating that the action was successful and that the response body is empty.",
        "operationId": "SshKeysDelete",
        "parameters": [
          {
            "$ref": "#/components/parameters/ssh_key_identifier"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/no_content"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "429": {
            "$ref": "#/components/responses/too_many_requests"
          },
          "500": {
            "$ref": "#/components/responses/server_error"
          },
          "default": {
            "$ref": "#/components/responses/unexpected_error"
          }
        },
        "security": [
          {
            "bearer_auth": [
              "ssh_key:delete"
            ]
          }
        ]
      }
    },
    "/v2/actions": {
      "get": {
        "tags": [
          "Actions"
        ],
        "summary": "List All Actions",
        "description": "This will be the entire list of actions taken on your account, so it will be quite large. As with any large collection returned by the API, the results will be paginated with only 20 on each page by default.",
        "operationId": "ActionsList",
        "parameters": [
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/actions"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/too_many_requests"
          },
          "500": {
            "$ref": "#/components/responses/server_error"
          },
          "default": {
            "$ref": "#/components/responses/unexpected_error"
          }
        },
        "security": [
          {
            "bearer_auth": [
              "actions:read"
            ]
          }
        ]
      }
    },
    "/v2/actions/{actionId}": {
      "get": {
        "tags": [
          "Actions"
        ],
        "summary": "Retrieve an Existing Action",
        "description": "To retrieve a specific action object, send a GET request to \u0060/v2/actions/$ACTION_ID\u0060.",
        "operationId": "ActionsGet",
        "parameters": [
          {
            "$ref": "#/components/parameters/action_id"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/action"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "429": {
            "$ref": "#/components/responses/too_many_requests"
          },
          "500": {
            "$ref": "#/components/responses/server_error"
          },
          "default": {
            "$ref": "#/components/responses/unexpected_error"
          }
        },
        "security": [
          {
            "bearer_auth": [
              "actions:read"
            ]
          }
        ]
      }
    },
    "/v2/add-ons/apps": {
      "get": {
        "tags": [
          "Add-Ons"
        ],
        "summary": "List Available Add-On Applications",
        "description": "To fetch details of all available Add-On Applications, send a GET request to \u0060/v2/add-ons/apps\u0060.\n",
        "operationId": "AddonsGetApp",
        "responses": {
          "200": {
            "$ref": "#/components/responses/addons_get_app"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/too_many_requests"
          },
          "500": {
            "$ref": "#/components/responses/server_error"
          },
          "default": {
            "$ref": "#/components/responses/unexpected_error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/v2/add-ons/apps/{appSlug}/metadata": {
      "get": {
        "tags": [
          "Add-Ons"
        ],
        "summary": "Get Metadata for an Add-On Application",
        "description": "To find out what metadata is required for a specific add-on, send a GET request to \u0060/v2/add-ons/apps/{app_slug}/metadata\u0060.\nMetadata varies by application.\n",
        "operationId": "AddonsGetAppMetadata",
        "parameters": [
          {
            "name": "appSlug",
            "in": "path",
            "description": "The slug identifier for the application whose metadata is being requested.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "example_app"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/addons_get_app_metadata"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "429": {
            "$ref": "#/components/responses/too_many_requests"
          },
          "500": {
            "$ref": "#/components/responses/server_error"
          },
          "default": {
            "$ref": "#/components/responses/unexpected_error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/v2/add-ons/saas": {
      "get": {
        "tags": [
          "Add-Ons"
        ],
        "summary": "List all Add-On Resources",
        "description": "To fetch all Add-On Resources under your team, send a GET request to \u0060/v2/add-ons/saas\u0060.\n",
        "operationId": "AddonsList",
        "responses": {
          "200": {
            "$ref": "#/components/responses/addons_list"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/too_many_requests"
          },
          "500": {
            "$ref": "#/components/responses/server_error"
          },
          "default": {
            "$ref": "#/components/responses/unexpected_error"
          }
        },
        "security": [
          {
            "bearer_auth": [
              "addon:read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Add-Ons"
        ],
        "summary": "Create/Provision a New Add-on Resource",
        "description": "To create an add-on resource, send a POST request to \u0060/v2/add-ons/saas\u0060 with required parameters.\nSome add-ons require additional metadata to be provided in the request body. To find out\nwhat metadata is required for a specific add-on, send a GET request to \u0060/v2/add-ons/apps/{app_slug}/metadata\u0060.\n",
        "operationId": "AddonsCreate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddonsCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/addons_create"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/too_many_requests"
          },
          "500": {
            "$ref": "#/components/responses/server_error"
          },
          "default": {
            "$ref": "#/components/responses/unexpected_error"
          }
        },
        "security": [
          {
            "bearer_auth": [
              "addon:create"
            ]
          }
        ]
      }
    },
    "/v2/add-ons/saas/{resourceUuid}": {
      "get": {
        "tags": [
          "Add-Ons"
        ],
        "summary": "Get details on an Add-On Resource",
        "description": "To fetch details of a specific Add-On Resource, send a GET request to \u0060/v2/add-ons/saas/{resource_uuid}\u0060.\nReplace \u0060{resource_uuid}\u0060 with the UUID of the resource you want to retrieve.\n",
        "operationId": "AddonsGet",
        "parameters": [
          {
            "name": "resourceUuid",
            "in": "path",
            "description": "The UUID of the add-on resource to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "123e4567-e89b-12d3-a456-426614174000"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/addons_get"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "429": {
            "$ref": "#/components/responses/too_many_requests"
          },
          "500": {
            "$ref": "#/components/responses/server_error"
          },
          "default": {
            "$ref": "#/components/responses/unexpected_error"
          }
        },
        "security": [
          {
            "bearer_auth": [
              "addon:read"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Add-Ons"
        ],
        "summary": "Delete/Deprovision an Add-on Resource",
        "description": "To delete an add-on resource, send a DELETE request to \u0060/v2/add-ons/saas/{resource_uuid}\u0060 with the UUID of the resource to delete. \nYou cannot retrieve the resource after it has been deleted. The response indicates a request was sent to the 3rd party add-on provider to delete the resource.\nYou will no longer be billed for this resource.\n",
        "operationId": "AddonsDelete",
        "parameters": [
          {
            "$ref": "#/components/parameters/resource_uuid"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/no_content"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "429": {
            "$ref": "#/components/responses/too_many_requests"
          },
          "500": {
            "$ref": "#/components/responses/server_error"
          },
          "default": {
            "$ref": "#/components/responses/unexpected_error"
          }
        },
        "security": [
          {
            "bearer_auth": [
              "addon:delete"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Add-Ons"
        ],
        "summary": "Update the name for an Add-On Resource",
        "description": "To change the name of an Add-On Resource, send a PATCH request to \u0060/v2/add-ons/saas/{resource_uuid}\u0060.\nReplace \u0060{resource_uuid}\u0060 with the UUID of the resource for which you want to change the name.\n",
        "operationId": "AddonsPatch",
        "parameters": [
          {
            "name": "resourceUuid",
            "in": "path",
            "description": "The UUID of the add-on resource to rename.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "123e4567-e89b-12d3-a456-426614174000"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddonsPatchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/addons_update"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "429": {
            "$ref": "#/components/responses/too_many_requests"
          },
          "500": {
            "$ref": "#/components/responses/server_error"
          },
          "default": {
            "$ref": "#/components/responses/unexpected_error"
          }
        },
        "security": [
          {
            "bearer_auth": [
              "addon:update"
            ]
          }
        ]
      }
    },
    "/v2/add-ons/saas/{resourceUuid}/plan": {
      "patch": {
        "tags": [
          "Add-Ons"
        ],
        "summary": "Update the plan for an Add-On Resource",
        "description": "To change the plan associated with an Add-On Resource, send a PATCH request to \u0060/v2/add-ons/saas/{resource_uuid}/plan\u0060.\nReplace \u0060{resource_uuid}\u0060 with the UUID of the resource for which you want to change the plan.\n",
        "operationId": "AddonsPatchPlan",
        "parameters": [
          {
            "name": "resourceUuid",
            "in": "path",
            "description": "The UUID of the add-on resource to update.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "123e4567-e89b-12d3-a456-426614174000"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddonsPatchPlanRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/addons_update"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "429": {
            "$ref": "#/components/responses/too_many_requests"
          },
          "500": {
            "$ref": "#/components/responses/server_error"
          },
          "default": {
            "$ref": "#/components/responses/unexpected_error"
          }
        },
        "security": [
          {
            "bearer_auth": [
              "addon:update"
            ]
          }
        ]
      }
    },
    "/v2/apps": {
      "get": {
        "tags": [
          "Apps"
        ],
        "summary": "List All Apps",
        "description": "List all apps on your account. Information about the current active deployment as well as any in progress ones will also be included for each app.",
        "operationId": "AppsList",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/with_projects"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/list_apps"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/too_many_requests"
          },
          "500": {
            "$ref": "#/components/responses/server_error"
          },
          "default": {
            "$ref": "#/components/responses/unexpected_error"
          }
        },
        "security": [
          {
            "bearer_auth": [
              "app:read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Apps"
        ],
        "summary": "Create a New App",
        "description": "Create a new app by submitting an app specification. For documentation on app specifications (\u0060AppSpec\u0060 objects), please refer to [the product documentation](https://docs.digitalocean.com/products/app-platform/reference/app-spec/).",
        "operationId": "AppsCreate",
        "parameters": [
          {
            "$ref": "#/components/parameters/accept"
          },
          {
            "$ref": "#/components/parameters/content-type"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppsCreateAppRequest"
              },
              "example": {
                "spec": {
                  "name": "web-app",
                  "region": "nyc",
                  "disable_edge_cache": true,
                  "disable_email_obfuscation": false,
                  "enhanced_threat_control_enabled": true,
                  "services": [
                    {
                      "name": "api",
                      "github": {
                        "branch": "main",
                        "deploy_on_push": true,
                        "repo": "digitalocean/sample-golang"
                      },
                      "run_command": "bin/api",
                      "environment_slug": "node-js",
                      "instance_count": 2,
                      "instance_size_slug": "apps-s-1vcpu-0.5gb",
                      "routes": [
                        {
                          "path": "/api"
                        }
                      ]
                    }
                  ],
                  "egress": {
                    "type": "DEDICATED_IP"
                  },
                  "vpc": {
                    "id": "c22d8f48-4bc4-49f5-8ca0-58e7164427ac"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/new_app"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/too_many_requests"
          },
          "500": {
            "$ref": "#/components/responses/server_error"
          },
          "default": {
            "$ref": "#/components/responses/unexpected_error"
          }
        },
        "security": [
          {
            "bearer_auth": [
              "app:create"
            ]
          }
        ]
      }
    },
    "/v2/apps/{id}": {
      "delete": {
        "tags": [
          "Apps"
        ],
        "summary": "Delete an App",
        "description": "Delete an existing app. Once deleted, all active deployments will be permanently shut down and the app deleted. If needed, be sure to back up your app specification so that you may re-create it at a later time.",
        "operationId": "AppsDelete",
        "parameters": [
          {
            "$ref": "#/components/parameters/id_app"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/delete_app"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "429": {
            "$ref": "#/components/responses/too_many_requests"
          },
          "500": {
            "$ref": "#/components/responses/server_error"
          },
          "default": {
            "$ref": "#/components/responses/unexpected_error"
          }
        },
        "security": [
          {
            "bearer_auth": [
              "app:delete"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "Apps"
        ],
        "summary": "Retrieve an Existing App",
        "description": "Retrieve details about an existing app by either its ID or name. To retrieve an app by its name, do not include an ID in the request path. Information about the current active deployment as well as any in progress ones will also be included in the response.",
        "operationId": "AppsGet",
        "parameters": [
          {
            "$ref": "#/components/parameters/id_app"
          },
          {
            "$ref": "#/components/parameters/app_name"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/apps_get"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "429": {
            "$ref": "#/components/responses/too_many_requests"
          },
          "500": {
            "$ref": "#/components/responses/server_error"
          },
          "default": {
            "$ref": "#/components/responses/unexpected_error"
          }
        },
        "security": [
          {
            "bearer_auth": [
              "app:read"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Apps"
        ],
        "summary": "Update an App",
        "description": "Update an existing app by submitting a new app specification. For documentation on app specifications (\u0060AppSpec\u0060 objects), please refer to [the product documentation](https://docs.digitalocean.com/products/app-platform/reference/app-spec/).",
        "operationId": "AppsUpdate",
        "parameters": [
          {
            "$ref": "#/components/parameters/id_app"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppsUpdateAppRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/update_app"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "429": {
            "$ref": "#/components/responses/too_many_requests"
          },
          "500": {
            "$ref": "#/components/responses/server_error"
          },
          "default": {
            "$ref": "#/components/responses/unexpected_error"
          }
        },
        "security": [
          {
            "bearer_auth": [
              "app:update"
            ]
          }
        ]
      }
    },
    "/v2/apps/{appId}/restart": {
      "post": {
        "tags": [
          "Apps"
        ],
        "summary": "Restart an App",
        "description": "Perform a rolling restart of all or specific components in an app.",
        "operationId": "AppsRestart",
        "parameters": [
          {
            "$ref": "#/components/parameters/app_id"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppsRestartRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/new_app_deployment"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "429": {
            "$ref": "#/components/responses/too_many_requests"
          },
          "500": {
            "$ref": "#/components/responses/server_error"
          },
          "default": {
            "$ref": "#/components/responses/unexpected_error"
          }
        },
        "security": [
          {
            "bearer_auth": [
              "app:update"
            ]
          }
        ]
      }
    },
    "/v2/apps/{appId}/components/{componentName}/logs": {
      "get": {
        "tags": [
          "Apps"
        ],
        "summary": "Retrieve Active Deployment Logs",
        "description": "Retrieve the logs of the active deployment if one exists. The response will include links to either real-time logs of an in-progress or active deployment or archived logs of a past deployment. Note log_type=BUILD logs will return logs associated with the current active deployment (being served). To view build logs associated with in-progress build, the query must explicitly reference the deployment id.",
        "operationId": "AppsGetLogsActiveDeployment",
        "parameters": [
          {
            "$ref": "#/components/parameters/app_id"
          },
          {
            "$ref": "#/components/parameters/component"
          },
          {
            "$ref": "#/components/parameters/live_updates"
          },
          {
            "$ref": "#/components/parameters/log_type"
          },
          {
            "$ref": "#/components/parameters/time_wait"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/list_logs"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "429": {
            "$ref": "#/components/responses/too_many_requests"
          },
          "500": {
            "$ref": "#/components/responses/server_error"
          },
          "default": {
            "$ref": "#/components/responses/unexpected_error"
          }
        },
        "security": [
          {
            "bearer_auth": [
              "app:read"
            ]
          }
        ]
      }
    },
    "/v2/apps/{appId}/components/{componentName}/exec": {
      "get": {
        "tags": [
          "Apps"
        ],
        "summary": "Retrieve Exec URL",
        "description": "Returns a websocket URL that allows sending/receiving console input and output to a component of the active deployment if one exists.",
        "operationId": "AppsGetExecActiveDeployment",
        "parameters": [
          {
            "$ref": "#/components/parameters/app_id"
          },
          {
            "$ref": "#/components/parameters/component"
          },
          {
            "$ref": "#/components/parameters/instance_name"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/get_exec"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "429": {
            "$ref": "#/components/responses/too_many_requests"
          },
          "500": {
            "$ref": "#/components/responses/server_error"
          },
          "default": {
            "$ref": "#/components/responses/unexpected_error"
          }
        },
        "security": [
          {
            "bearer_auth": [
              "app:access_console"
            ]
          }
        ]
      }
    },
    "/v2/apps/{appId}/instances": {
      "get": {
        "tags": [
          "Apps"
        ],
        "summary": "Retrieve App Instances",
        "description": "Retrieve the list of running instances for a given application, including instance names and component types. Please note that these instances are ephemeral and may change over time. It is recommended not to make persistent changes or develop scripts that rely on their persistence.",
        "operationId": "AppsGetInstances",
        "parameters": [
          {
            "$ref": "#/components/parameters/app_id"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/apps_instances"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "429": {
            "$ref": "#/components/responses/too_many_requests"
          },
          "500": {
            "$ref": "#/components/responses/server_error"
          },
          "default": {
            "$ref": "#/components/responses/unexpected_error"
          }
        },
        "security": [
          {
            "bearer_auth": [
              "app:read"
            ]
          }
        ]
      }
    },
    "/v2/apps/{appId}/deployments": {
      "get": {
        "tags": [
          "Apps"
        ],
        "summary": "List App Deployments",
        "description": "List all deployments of an app.",
        "operationId": "AppsListDeployments",
        "parameters": [
          {
            "$ref": "#/components/parameters/app_id"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "name": "deployment_types",
            "in": "query",
            "description": "Optional. Filter deployments by deployment_type\n  - MANUAL: manual deployment\n  - DEPLOY_ON_PUSH: deployment triggered by a push to the app\u0027s repository\n  - MAINTENANCE: deployment for maintenance purposes\n  - MANUAL_ROLLBACK: manual revert to a previous deployment\n  - AUTO_ROLLBACK: automatic revert to a previous deployment\n  - UPDATE_DATABASE_TRUSTED_SOURCES: update database trusted sources\n  - AUTOSCALED: deployment that has been autoscaled",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/AppsListDeploymentsDeploymentTypesParameterItem"
              }
            },
            "example": [
              "MANUAL",
              "AUTOSCALED"
            ]
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/existing_deployments"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "429": {
            "$ref": "#/components/responses/too_many_requests"
          },
          "500": {
            "$ref": "#/components/responses/server_error"
          },
          "default": {
            "$ref": "#/components/responses/unexpected_error"
          }
        },
        "security": [
          {
            "bearer_auth": [
              "app:read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Apps"
        ],
        "summary": "Create an App Deployment",
        "description": "Creating an app deployment will pull the latest changes from your repository and schedule a new deployment for your app.",
        "operationId": "AppsCreateDeployment",
        "parameters": [
          {
            "$ref": "#/components/parameters/app_id"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppsCreateDeploymentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/new_app_deployment"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "429": {
            "$ref": "#/components/responses/too_many_requests"
          },
          "500": {
            "$ref": "#/components/responses/server_error"
          },
          "default": {
            "$ref": "#/components/responses/unexpected_error"
          }
        },
        "security": [
          {
            "bearer_auth": [
              "app:update"
            ]
          }
        ]
      }
    },
    "/v2/apps/{appId}/deployments/{deploymentId}": {
      "get": {
        "tags": [
          "Apps"
        ],
        "summary": "Retrieve an App Deployment",
        "description": "Retrieve information about an app deployment.",
        "operationId": "AppsGetDeployment",
        "parameters": [
          {
            "$ref": "#/components/parameters/app_id"
          },
          {
            "$ref": "#/components/parameters/deployment_id"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/list_deployment"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "429": {
            "$ref": "#/components/responses/too_many_requests"
          },
          "500": {
            "$ref": "#/components/responses/server_error"
          },
          "default": {
            "$ref": "#/components/responses/unexpected_error"
          }
        },
        "security": [
          {
            "bearer_auth": [
              "app:read"
            ]
          }
        ]
      }
    },
    "/v2/apps/{appId}/deployments/{deploymentId}/cancel": {
      "post": {
        "tags": [
          "Apps"
        ],
        "summary": "Cancel a Deployment",
        "description": "Immediately cancel an in-progress deployment.",
        "operationId": "AppsCancelDeployment",
        "parameters": [
          {
            "$ref": "#/components/parameters/app_id"
          },
          {
            "$ref": "#/components/parameters/deployment_id"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/cancel_deployment"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "429": {
            "$ref": "#/components/responses/too_many_requests"
          },
          "500": {
            "$ref": "#/components/responses/server_error"
          },
          "default": {
            "$ref": "#/components/responses/unexpected_error"
          }
        },
        "security": [
          {
            "bearer_auth": [
              "app:update"
            ]
          }
        ]
      }
    },
    "/v2/apps/{appId}/deployments/{deploymentId}/components/{componentName}/logs": {
      "get": {
        "tags": [
          "Apps"
        ],
        "summary": "Retrieve Deployment Logs",
        "description": "Retrieve the logs of a past, in-progress, or active deployment. The response will include links to either real-time logs of an in-progress or active deployment or archived logs of a past deployment.",
        "operationId": "AppsGetLogs",
        "parameters": [
          {
            "$ref": "#/components/parameters/app_id"
          },
          {
            "$ref": "#/components/parameters/deployment_id"
          },
          {
            "$ref": "#/components/parameters/component"
          },
          {
            "$ref": "#/components/parameters/live_updates"
          },
          {
            "$ref": "#/components/parameters/log_type"
          },
          {
            "$ref": "#/components/parameters/time_wait"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/list_logs"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "429": {
            "$ref": "#/components/responses/too_many_requests"
          },
          "500": {
            "$ref": "#/components/responses/server_error"
          },
          "default": {
            "$ref": "#/components/responses/unexpected_error"
          }
        },
        "security": [
          {
            "bearer_auth": [
              "app:read"
            ]
          }
        ]
      }
    },
    "/v2/apps/{appId}/deployments/{deploymentId}/logs": {
      "get": {
        "tags": [
          "Apps"
        ],
        "summary": "Retrieve Aggregate Deployment Logs",
        "description": "Retrieve the logs of a past, in-progress, or active deployment. If a component name is specified, the logs will be limited to only that component. The response will include links to either real-time logs of an in-progress or active deployment or archived logs of a past deployment.",
        "operationId": "AppsGetLogsAggregate",
        "parameters": [
          {
            "$ref": "#/components/parameters/app_id"
          },
          {
            "$ref": "#/components/parameters/deployment_id"
          },
          {
            "$ref": "#/components/parameters/live_updates"
          },
          {
            "$ref": "#/components/parameters/log_type"
          },
          {
            "$ref": "#/components/parameters/time_wait"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/list_logs"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "429": {
            "$ref": "#/components/responses/too_many_requests"
          },
          "500": {
            "$ref": "#/components/responses/server_error"
          },
          "default": {
            "$ref": "#/components/responses/unexpected_error"
          }
        },
        "security": [
          {
            "bearer_auth": [
              "app:read"
            ]
          }
        ]
      }
    },
    "/v2/apps/{appId}/deployments/{deploymentId}/components/{componentName}/exec": {
      "get": {
        "tags": [
          "Apps"
        ],
        "summary": "Retrieve Exec URL for Deployment",
        "description": "Returns a websocket URL that allows sending/receiving console input and output to a component of the specified deployment if one exists. Optionally, the instance_name parameter can be provided to retrieve the exec URL for a specific instance. Note that instances are ephemeral; therefore, we recommended to avoid making persistent changes or such scripting around them.",
        "operationId": "AppsGetExec",
        "parameters": [
          {
            "$ref": "#/components/parameters/app_id"
          },
          {
            "$ref": "#/components/parameters/deployment_id"
          },
          {
            "$ref": "#/components/parameters/component"
          },
          {
            "$ref": "#/components/parameters/instance_name"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/get_exec"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "429": {
            "$ref": "#/components/responses/too_many_requests"
          },
          "500": {
            "$ref": "#/components/responses/server_error"
          },
          "default": {
            "$ref": "#/components/responses/unexpected_error"
          }
        },
        "security": [
          {
            "bearer_auth": [
              "app:access_console"
            ]
          }
        ]
      }
    },
    "/v2/apps/{appId}/logs": {
      "get": {
        "tags": [
          "Apps"
        ],
        "summary": "Retrieve Active Deployment Aggregate Logs",
        "description": "Retrieve the logs of the active deployment if one exists. The response will include links to either real-time logs of an in-progress or active deployment or archived logs of a past deployment. Note log_type=BUILD logs will return logs associated with the current active deployment (being served). To view build logs associated with in-progress build, the query must explicitly reference the deployment id.",
        "operationId": "AppsGetLogsActiveDeploymentAggregate",
        "parameters": [
          {
            "$ref": "#/components/parameters/app_id"
          },
          {
            "$ref": "#/components/parameters/live_updates"
          },
          {
            "$ref": "#/components/parameters/log_type"
          },
          {
            "$ref": "#/components/parameters/time_wait"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/list_logs"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "429": {
            "$ref": "#/components/responses/too_many_requests"
          },
          "500": {
            "$ref": "#/components/responses/server_error"
          },
          "default": {
            "$ref": "#/components/responses/unexpected_error"
          }
        },
        "security": [
          {
            "bearer_auth": [
              "app:read"
            ]
          }
        ]
      }
    },
    "/v2/apps/{appId}/job-invocations": {
      "get": {
        "tags": [
          "Apps"
        ],
        "summary": "List Job Invocations",
        "description": "List all job invocations for an app.",
        "operationId": "AppsListJobInvocations",
        "parameters": [
          {
            "$ref": "#/components/parameters/app_id"
          },
          {
            "$ref": "#/components/parameters/job_names"
          },
          {
            "name": "deployment_id",
            "in": "query",
            "description": "The deployment ID",
            "schema": {
              "type": "string"
            },
            "example": "3aa4d20e-5527-4c00-b496-601fbd22520a"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/list_job_invocations"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "429": {
            "$ref": "#/components/responses/too_many_requests"
          },
          "500": {
            "$ref": "#/components/responses/server_error"
          },
          "default": {
            "$ref": "#/components/responses/unexpected_error"
          }
        },
        "security": [
          {
            "bearer_auth": [
              "app:read"
            ]
          }
        ]
      }
    },
    "/v2/apps/{appId}/job-invocations/{jobInvocationId}": {
      "get": {
        "tags": [
          "Apps"
        ],
        "summary": "Get Job Invocations",
        "description": "Get a specific job invocation for an app.",
        "operationId": "AppsGetJobInvocation",
        "parameters": [
          {
            "$ref": "#/components/parameters/app_id"
          },
          {
            "$ref": "#/components/parameters/job_invocation_id"
          },
          {
            "$ref": "#/components/parameters/job_name"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/get_job_invocation"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "429": {
            "$ref": "#/components/responses/too_many_requests"
          },
          "500": {
            "$ref": "#/components/responses/server_error"
          },
          "default": {
            "$ref": "#/components/responses/unexpected_error"
          }
        },
        "security": [
          {
            "bearer_auth": [
              "app:read"
            ]
          }
        ]
      }
    },
    "/v2/apps/{appId}/job-invocations/{jobInvocationId}/cancel": {
      "post": {
        "tags": [
          "Apps"
        ],
        "summary": "Cancel Job Invocation",
        "description": "Cancel a specific job invocation for an app.",
        "operationId": "AppsCancelJobInvocation",
        "parameters": [
          {
            "$ref": "#/components/parameters/app_id"
          },
          {
            "$ref": "#/components/parameters/job_invocation_id"
          },
          {
            "$ref": "#/components/parameters/job_name"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/cancel_job_invocation"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "429": {
            "$ref": "#/components/responses/too_many_requests"
          },
          "500": {
            "$ref": "#/components/responses/server_error"
          },
          "default": {
            "$ref": "#/components/responses/unexpected_error"
          }
        },
        "security": [
          {
            "bearer_auth": [
              "app:update"
            ]
          }
        ]
      }
    },
    "/v2/apps/{appId}/jobs/{jobName}/invocations/{jobInvocationId}/logs": {
      "get": {
        "tags": [
          "Apps"
        ],
        "summary": "Retrieve Job Invocation Logs",
        "description": "Retrieve the logs of a past, in-progress, or active deployment. If a component name is specified, the logs will be limited to only that component. If deployment is omitted the active deployment will be selected (if available). The response will include links to either real-time logs of an in-progress or active deployment or archived logs of a past deployment.",
        "operationId": "AppsGetJobInvocationLogs",
        "parameters": [
          {
            "$ref": "#/components/parameters/app_id"
          },
          {
            "name": "jobName",
            "in": "path",
            "description": "The job name to list job invocations for.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "component"
          },
          {
            "$ref": "#/components/parameters/job_invocation_id"
          },
          {
            "name": "deployment_id",
            "in": "query",
            "description": "The deployment ID",
            "schema": {
              "type": "string"
            },
            "example": "3aa4d20e-5527-4c00-b496-601fbd22520a"
          },
          {
            "$ref": "#/components/parameters/live_updates"
          },
          {
            "name": "type",
            "in": "query",
            "description": "The type of logs to retrieve",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/JobInvocationType"
            },
            "example": "JOB_INVOCATION"
          },
          {
            "$ref": "#/components/parameters/time_wait"
          },
          {
            "$ref": "#/components/parameters/number_lines"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/apps_get_logs"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "429": {
            "$ref": "#/components/responses/too_many_requests"
          },
          "500": {
            "$ref": "#/components/responses/server_error"
          },
          "default": {
            "$ref": "#/components/responses/unexpected_error"
          }
        },
        "security": [
          {
            "bearer_auth": [
              "app:read"
            ]
          }
        ]
      }
    },
    "/v2/apps/{appId}/events": {
      "get": {
        "tags": [
          "Apps"
        ],
        "summary": "List App Events",
        "description": "List all events for an app, including deployments and autoscaling events.",
        "operationId": "AppsListEvents",
        "parameters": [
          {
            "$ref": "#/components/parameters/app_id"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "name": "event_types",
            "in": "query",
            "description": "Filter events by event type.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/AppsListEventsEventTypesParameterItem"
              }
            },
            "example": [
              "DEPLOYMENT"
            ]
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/list_events"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "429": {
            "$ref": "#/components/responses/too_many_requests"
          },
          "500": {
            "$ref": "#/components/responses/server_error"
          },
          "default": {
            "$ref": "#/components/responses/unexpected_error"
          }
        },
        "security": [
          {
            "bearer_auth": [
              "app:read"
            ]
          }
        ]
      }
    },
    "/v2/apps/{appId}/events/{eventId}": {
      "get": {
        "tags": [
          "Apps"
        ],
        "summary": "Get an Event",
        "description": "Get a single event for an app.",
        "operationId": "AppsGetEvent",
        "parameters": [
          {
            "$ref": "#/components/parameters/app_id"
          },
          {
            "$ref": "#/components/parameters/event_id"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/get_event"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "429": {
            "$ref": "#/components/responses/too_many_requests"
          },
          "500": {
            "$ref": "#/components/responses/server_error"
          },
          "default": {
            "$ref": "#/components/responses/unexpected_error"
          }
        },
        "security": [
          {
            "bearer_auth": [
              "app:read"
            ]
          }
        ]
      }
    },
    "/v2/apps/{appId}/events/{eventId}/cancel": {
      "post": {
        "tags": [
          "Apps"
        ],
        "summary": "Cancel an Event",
        "description": "Cancel an in-progress autoscaling event.",
        "operationId": "AppsCancelEvent",
        "parameters": [
          {
            "$ref": "#/components/parameters/app_id"
          },
          {
            "$ref": "#/components/parameters/event_id"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/cancel_event"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "429": {
            "$ref": "#/components/responses/too_many_requests"
          },
          "500": {
            "$ref": "#/components/responses/server_error"
          },
          "default": {
            "$ref": "#/components/responses/unexpected_error"
          }
        },
        "security": [
          {
            "bearer_auth": [
              "app:update"
            ]
          }
        ]
      }
    },
    "/v2/apps/{appId}/events/{eventId}/logs": {
      "get": {
        "tags": [
          "Apps"
        ],
        "summary": "Retrieve Event Logs",
        "description": "Retrieve the logs of an autoscaling event for an app.",
        "operationId": "AppsGetEventLogs",
        "parameters": [
          {
            "$ref": "#/components/parameters/app_id"
          },
          {
            "$ref": "#/components/parameters/event_id"
          },
          {
            "$ref": "#/components/parameters/live_updates"
          },
          {
            "$ref": "#/components/parameters/log_type"
          },
          {
            "$ref": "#/components/parameters/time_wait"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/list_logs"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "429": {
            "$ref": "#/components/responses/too_many_requests"
          },
          "500": {
            "$ref": "#/components/responses/server_error"
          },
          "default": {
            "$ref": "#/components/responses/unexpected_error"
          }
        },
        "security": [
          {
            "bearer_auth": [
              "app:read"
            ]
          }
        ]
      }
    },
    "/v2/apps/tiers/instance_sizes": {
      "get": {
        "tags": [
          "Apps"
        ],
        "summary": "List Instance Sizes",
        "description": "List all instance sizes for \u0060service\u0060, \u0060worker\u0060, and \u0060job\u0060 components.",
        "operationId": "AppsListInstanceSizes",
        "responses": {
          "200": {
            "$ref": "#/components/responses/list_instance"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/too_many_requests"
          },
          "500": {
            "$ref": "#/components/responses/server_error"
          },
          "default": {
            "$ref": "#/components/responses/unexpected_error"
          }
        },
        "security": [
          {
            "bearer_auth": [
              "app:read"
            ]
          }
        ]
      }
    },
    "/v2/apps/tiers/instance_sizes/{slug}": {
      "get": {
        "tags": [
          "Apps"
        ],
        "summary": "Retrieve an Instance Size",
        "description": "Retrieve information about a specific instance size for \u0060service\u0060, \u0060worker\u0060, and \u0060job\u0060 components.",
        "operationId": "AppsGetInstanceSize",
        "parameters": [
          {
            "$ref": "#/components/parameters/slug_size"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/get_instance"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "429": {
            "$ref": "#/components/responses/too_many_requests"
          },
          "500": {
            "$ref": "#/components/responses/server_error"
          },
          "default": {
            "$ref": "#/components/responses/unexpected_error"
          }
        },
        "security": [
          {
            "bearer_auth": [
              "app:read"
            ]
          }
        ]
      }
    },
    "/v2/apps/regions": {
      "get": {
        "tags": [
          "Apps"
        ],
        "summary": "List App Regions",
        "description": "List all regions supported by App Platform.",
        "operationId": "AppsListRegions",
        "responses": {
          "200": {
            "$ref": "#/components/responses/list_regions"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/too_many_requests"
          },
          "500": {
            "$ref": "#/components/responses/server_error"
          },
          "default": {
            "$ref": "#/components/responses/unexpected_error"
          }
        },
        "security": [
          {
            "bearer_auth": [
              "app:read"
            ]
          }
        ]
      }
    },
    "/v2/apps/propose": {
      "post": {
        "tags": [
          "Apps"
        ],
        "summary": "Propose an App Spec",
        "description": "To propose and validate a spec for a new or existing app, send a POST request to the \u0060/v2/apps/propose\u0060 endpoint. The request returns some information about the proposed app, including app cost and upgrade cost. If an existing app ID is specified, the app spec is treated as a proposed update to the existing app.",
        "operationId": "AppsValidateAppSpec",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppPropose"
              },
              "example": {
                "spec": {
                  "name": "web-app",
                  "region": "nyc",
                  "services": [
                    {
                      "name": "api",
                      "github": {
                        "branch": "main",
                        "deploy_on_push": true,
                        "repo": "digitalocean/sample-golang"
                      },
                      "run_command": "bin/api",
                      "environment_slug": "node-js",
                      "instance_count": 2,
                      "instance_size_slug": "apps-s-1vcpu-0.5gb",
                      "routes": [
                        {
                          "path": "/api"
                        }
                      ]
                    }
                  ]
                },
                "app_id": "b6bdf840-2854-4f87-a36c-5f231c617c84"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/propose_app"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/too_many_requests"
          },
          "500": {
            "$ref": "#/components/responses/server_error"
          },
          "default": {
            "$ref": "#/components/responses/unexpected_error"
          }
        },
        "security": [
          {
            "bearer_auth": [
              "app:read"
            ]
          }
        ]
      }
    },
    "/v2/apps/{appId}/alerts": {
      "get": {
        "tags": [
          "Apps"
        ],
        "summary": "List all app alerts",
        "description": "List alerts associated to the app and any components. This includes configuration information about the alerts including emails, slack webhooks, and triggering events or conditions.",
        "operationId": "AppsListAlerts",
        "parameters": [
          {
            "$ref": "#/components/parameters/app_id"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/list_alerts"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "429": {
            "$ref": "#/components/responses/too_many_requests"
          },
          "500": {
            "$ref": "#/components/responses/server_error"
          },
          "default": {
            "$ref": "#/components/responses/unexpected_error"
          }
        },
        "security": [
          {
            "bearer_auth": [
              "app:read"
            ]
          }
        ]
      }
    },
    "/v2/apps/{appId}/alerts/{alertId}/destinations": {
      "post": {
        "tags": [
          "Apps"
        ],
        "summary": "Update destinations for alerts",
        "description": "Updates the emails and slack webhook destinations for app alerts. Emails must be associated to a user with access to the app.",
        "operationId": "AppsAssignAlertDestinations",
        "parameters": [
          {
            "$ref": "#/components/parameters/app_id"
          },
          {
            "$ref": "#/components/parameters/alert_id"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppsAssignAppAlertDestinationsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/assign_alert_destinations"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "429": {
            "$ref": "#/components/responses/too_many_requests"
          },
          "500": {
            "$ref": "#/components/responses/server_error"
          },
          "default": {
            "$ref": "#/components/responses/unexpected_error"
          }
        },
        "security": [
          {
            "bearer_auth": [
              "app:update"
            ]
          }
        ]
      }
    },
    "/v2/apps/{appId}/rollback": {
      "post": {
        "tags": [
          "Apps"
        ],
        "summary": "Rollback App",
        "description": "Rollback an app to a previous deployment. A new deployment will be created to perform the rollback.\nThe app will be pinned to the rollback deployment preventing any new deployments from being created,\neither manually or through Auto Deploy on Push webhooks. To resume deployments, the rollback must be\neither committed or reverted.\n\nIt is recommended to use the Validate App Rollback endpoint to double check if the rollback is\nvalid and if there are any warnings.\n",
        "operationId": "AppsCreateRollback",
        "parameters": [
          {
            "$ref": "#/components/parameters/app_id"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppsRollbackAppRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/new_app_deployment"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "429": {
            "$ref": "#/components/responses/too_many_requests"
          },
          "500": {
            "$ref": "#/components/responses/server_error"
          },
          "default": {
            "$ref": "#/components/responses/unexpected_error"
          }
        },
        "security": [
          {
            "bearer_auth": [
              "app:update"
            ]
          }
        ]
      }
    },
    "/v2/apps/{appId}/rollback/validate": {
      "post": {
        "tags": [
          "Apps"
        ],
        "summary": "Validate App Rollback",
        "description": "Check whether an app can be rolled back to a specific deployment. This endpoint can also be used\nto check if there are any warnings or validation conditions that will cause the rollback to proceed\nunder unideal circumstances. For example, if a component must be rebuilt as part of the rollback\ncausing it to take longer than usual.\n",
        "operationId": "AppsValidateRollback",
        "parameters": [
          {
            "$ref": "#/components/parameters/app_id"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppsRollbackAppRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/apps_validate_rollback"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "429": {
            "$ref": "#/components/responses/too_many_requests"
          },
          "500": {
            "$ref": "#/components/responses/server_error"
          },
          "default": {
            "$ref": "#/components/responses/unexpected_error"
          }
        },
        "security": [
          {
            "bearer_auth": [
              "app:update"
            ]
          }
        ]
      }
    },
    "/v2/apps/{appId}/rollback/commit": {
      "post": {
        "tags": [
          "Apps"
        ],
        "summary": "Commit App Rollback",
        "description": "Commit an app rollback. This action permanently applies the rollback and unpins the app to resume new deployments.\n",
        "operationId": "AppsCommitRollback",
        "parameters": [
          {
            "$ref": "#/components/parameters/app_id"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/no_content"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "429": {
            "$ref": "#/components/responses/too_many_requests"
          },
          "500": {
            "$ref": "#/components/responses/server_error"
          },
          "default": {
            "$ref": "#/components/responses/unexpected_error"
          }
        },
        "security": [
          {
            "bearer_auth": [
              "app:update"
            ]
          }
        ]
      }
    },
    "/v2/apps/{appId}/rollback/revert": {
      "post": {
        "tags": [
          "Apps"
        ],
        "summary": "Revert App Rollback",
        "description": "Revert an app rollback. This action reverts the active rollback by creating a new deployment from the\nlatest app spec prior to the rollback and unpins the app to resume new deployments.\n",
        "operationId": "AppsRevertRollback",
        "parameters": [
          {
            "$ref": "#/components/parameters/app_id"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/new_app_deployment"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "429": {
            "$ref": "#/components/responses/too_many_requests"
          },
          "500": {
            "$ref": "#/components/responses/server_error"
          },
          "default": {
            "$ref": "#/components/responses/unexpected_error"
          }
        },
        "security": [
          {
            "bearer_auth": [
              "app:update"
            ]
          }
        ]
      }
    },
    "/v2/apps/{appId}/metrics/bandwidth_daily": {
      "get": {
        "tags": [
          "Apps"
        ],
        "summary": "Retrieve App Daily Bandwidth Metrics",
        "description": "Retrieve daily bandwidth usage metrics for a single app.",
        "operationId": "AppsGetMetricsBandwidthDaily",
        "parameters": [
          {
            "$ref": "#/components/parameters/app_id"
          },
          {
            "name": "date",
            "in": "query",
            "description": "Optional day to query. Only the date component of the timestamp will be considered. Default: yesterday.",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2023-01-17T00:00:00Z"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/get_metrics_bandwidth_usage"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "429": {
            "$ref": "#/components/responses/too_many_requests"
          },
          "500": {
            "$ref": "#/components/responses/server_error"
          },
          "default": {
            "$ref": "#/components/responses/unexpected_error"
          }
        },
        "security": [
          {
            "bearer_auth": [
              "app:read"
            ]
          }
        ]
      }
    },
    "/v2/apps/metrics/bandwidth_daily": {
      "post": {
        "tags": [
          "Apps"
        ],
        "summary": "Retrieve Multiple Apps\u0027 Daily Bandwidth Metrics",
        "description": "Retrieve daily bandwidth usage metrics for multiple apps.",
        "operationId": "AppsListMetricsBandwidthDaily",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppMetricsBandwidthUsageRequest"
              },
              "example": {
                "app_ids": [
                  "4f6c71e2-1e90-4762-9fee-6cc4a0a9f2cf",
                  "c2a93513-8d9b-4223-9d61-5e7272c81cf5"
                ],
                "date": "2023-01-17T00:00:00Z"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/list_metrics_bandwidth_usage"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "429": {
            "$ref": "#/components/responses/too_many_requests"
          },
          "500": {
            "$ref": "#/components/responses/server_error"
          },
          "default": {
            "$ref": "#/components/responses/unexpected_error"
          }
        },
        "security": [
          {
            "bearer_auth": [
              "app:read"
            ]
          }
        ]
      }
    },
    "/v2/apps/{appId}/health": {
      "get": {
        "tags": [
          "Apps"
        ],
        "summary": "Retrieve App Health",
        "description": "Retrieve information like health status, cpu and memory utilization of app components.",
        "operationId": "AppsGetHealth",
        "parameters": [
          {
            "$ref": "#/components/parameters/app_id"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/apps_health"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "429": {
            "$ref": "#/components/responses/too_many_requests"
          },
          "500": {
            "$ref": "#/components/responses/server_error"
          },
          "default": {
            "$ref": "#/components/responses/unexpected_error"
          }
        },
        "security": [
          {
            "bearer_auth": [
              "app:read"
            ]
          }
        ]
      }
    },
    "/v2/cdn/endpoints": {
      "get": {
        "tags": [
          "CDN Endpoints"
        ],
        "summary": "List All CDN Endpoints",
        "description": "To list all of the CDN endpoints available on your account, send a GET request to \u0060/v2/cdn/endpoints\u0060.",
        "operationId": "CdnListEndpoints",
        "parameters": [
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/all_cdn_endpoints"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/too_many_requests"
          },
          "500": {
            "$ref": "#/components/responses/server_error"
          },
          "default": {
            "$ref": "#/components/responses/unexpected_error"
          }
        },
        "security": [
          {
            "bearer_auth": [
              "cdn:read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "CDN Endpoints"
        ],
        "summary": "Create a New CDN Endpoint",
        "description": "To create a new CDN endpoint, send a POST request to \u0060/v2/cdn/endpoints\u0060. The\norigin attribute must be set to the fully qualified domain name (FQDN) of a\nDigitalOcean Space. Optionally, the TTL may be configured by setting the \u0060ttl\u0060\nattribute.\n\nA custom subdomain may be configured by specifying the \u0060custom_domain\u0060 and\n\u0060certificate_id\u0060 attributes.\n",
        "operationId": "CdnCreateEndpoint",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CdnEndpoint"
              },
              "examples": {
                "CDN Endpoint": {
                  "value": {
                    "origin": "static-images.nyc3.digitaloceanspaces.com",
                    "ttl": 3600
                  }
                },
                "CDN Endpoint With Custom Domain": {
                  "value": {
                    "origin": "static-images.nyc3.digitaloceanspaces.com",
                    "certificate_id": "892071a0-bb95-49bc-8021-3afd67a210bf",
                    "custom_domain": "static.example.com",
                    "ttl": 3600
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/existing_endpoint"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/too_many_requests"
          },
          "500": {
            "$ref": "#/components/responses/server_error"
          },
          "default": {
            "$ref": "#/components/responses/unexpected_error"
          }
        },
        "security": [
          {
            "bearer_auth": [
              "cdn:create"
            ]
          }
        ]
      }
    },
    "/v2/cdn/endpoints/{cdnId}": {
      "get": {
        "tags": [
          "CDN Endpoints"
        ],
        "summary": "Retrieve an Existing CDN Endpoint",
        "description": "To show information about an existing CDN endpoint, send a GET request to \u0060/v2/cdn/endpoints/$ENDPOINT_ID\u0060.",
        "operationId": "CdnGetEndpoint",
        "parameters": [
          {
            "$ref": "#/components/parameters/cdn_endpoint_id"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/existing_endpoint"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "429": {
            "$ref": "#/components/responses/too_many_requests"
          },
          "500": {
            "$ref": "#/components/responses/server_error"
          },
          "default": {
            "$ref": "#/components/responses/unexpected_error"
          }
        },
        "security": [
          {
            "bearer_auth": [
              "cdn:read"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "CDN Endpoints"
        ],
        "summary": "Update a CDN Endpoint",
        "description": "To update the TTL, certificate ID, or the FQDN of the custom subdomain for\nan existing CDN endpoint, send a PUT request to\n\u0060/v2/cdn/endpoints/$ENDPOINT_ID\u0060.\n",
        "operationId": "CdnUpdateEndpoints",
        "parameters": [
          {
            "$ref": "#/components/parameters/cdn_endpoint_id"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateEndpoint"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/existing_endpoint"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "429": {
            "$ref": "#/components/responses/too_many_requests"
          },
          "500": {
            "$ref": "#/components/responses/server_error"
          },
          "default": {
            "$ref": "#/components/responses/unexpected_error"
          }
        },
        "security": [
          {
            "bearer_auth": [
              "cdn:update"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "CDN Endpoints"
        ],
        "summary": "Delete a CDN Endpoint",
        "description": "To delete a specific CDN endpoint, send a DELETE request to\n\u0060/v2/cdn/endpoints/$ENDPOINT_ID\u0060.\n\nA status of 204 will be given. This indicates that the request was processed\nsuccessfully, but that no response body is needed.\n",
        "operationId": "CdnDeleteEndpoint",
        "parameters": [
          {
            "$ref": "#/components/parameters/cdn_endpoint_id"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/no_content"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "429": {
            "$ref": "#/components/responses/too_many_requests"
          },
          "500": {
            "$ref": "#/components/responses/server_error"
          },
          "default": {
            "$ref": "#/components/responses/unexpected_error"
          }
        },
        "security": [
          {
            "bearer_auth": [
              "cdn:delete"
            ]
          }
        ]
      }
    },
    "/v2/cdn/endpoints/{cdnId}/cache": {
      "delete": {
        "tags": [
          "CDN Endpoints"
        ],
        "summary": "Purge the Cache for an Existing CDN Endpoint",
        "description": "To purge cached content from a CDN endpoint, send a DELETE request to\n\u0060/v2/cdn/endpoints/$ENDPOINT_ID/cache\u0060. The body of the request should include\na \u0060files\u0060 attribute containing a list of cached file paths to be purged. A\npath may be for a single file or may contain a wildcard (\u0060*\u0060) to recursively\npurge all files under a directory. When only a wildcard is provided, all cached \nfiles will be purged. There is a rate limit of 50 files per 20 seconds that can \nbe purged. CDN endpoints have a rate limit of 5 requests per 10 seconds. \nPurging files using a wildcard path counts as a single request against the API\u0027s \nrate limit. Two identical purge requests cannot be sent at the same time.\n",
        "operationId": "CdnPurgeCache",
        "parameters": [
          {
            "$ref": "#/components/parameters/cdn_endpoint_id"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PurgeCache"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "$ref": "#/components/responses/no_content"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "429": {
            "$ref": "#/components/responses/too_many_requests"
          },
          "500": {
            "$ref": "#/components/responses/server_error"
          },
          "default": {
            "$ref": "#/components/responses/unexpected_error"
          }
        },
        "security": [
          {
            "bearer_auth": [
              "cdn:delete"
            ]
          }
        ]
      }
    },
    "/v2/certificates": {
      "get": {
        "tags": [
          "Certificates"
        ],
        "summary": "List All Certificates",
        "description": "To list all of the certificates available on your account, send a GET request to \u0060/v2/certificates\u0060.",
        "operationId": "CertificatesList",
        "parameters": [
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/certificate_name"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/all_certificates"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/too_many_requests"
          },
          "500": {
            "$ref": "#/components/responses/server_error"
          },
          "default": {
            "$ref": "#/components/responses/unexpected_error"
          }
        },
        "security": [
          {
            "bearer_auth": [
              "certificate:read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Certificates"
        ],
        "summary": "Create a New Certificate",
        "description": "To upload new SSL certificate which you have previously generated, send a POST\nrequest to \u0060/v2/certificates\u0060.\n\nWhen uploading a user-generated certificate, the \u0060private_key\u0060,\n\u0060leaf_certificate\u0060, and optionally the \u0060certificate_chain\u0060 attributes should\nbe provided. The type must be set to \u0060custom\u0060.\n\nWhen using Let\u0027s Encrypt to create a certificate, the \u0060dns_names\u0060 attribute\nmust be provided, and the type must be set to \u0060lets_encrypt\u0060.\n",
        "operationId": "CertificatesCreate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CertificatesCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/new_certificate"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/too_many_requests"
          },
          "500": {
            "$ref": "#/components/responses/server_error"
          },
          "default": {
            "$ref": "#/components/responses/unexpected_error"
          }
        },
        "security": [
          {
            "bearer_auth": [
              "certificate:create"
            ]
          }
        ]
      }
    },
    "/v2/certificates/{certificateId}": {
      "get": {
        "tags": [
          "Certificates"
        ],
        "summary": "Retrieve an Existing Certificate",
        "description": "To show information about an existing certificate, send a GET request to \u0060/v2/certificates/$CERTIFICATE_ID\u0060.",
        "operationId": "CertificatesGet",
        "parameters": [
          {
            "$ref": "#/components/parameters/certificate_id"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/existing_certificate"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "429": {
            "$ref": "#/components/responses/too_many_requests"
          },
          "500": {
            "$ref": "#/components/responses/server_error"
          },
          "default": {
            "$ref": "#/components/responses/unexpected_error"
          }
        },
        "security": [
          {
            "bearer_auth": [
              "certificate:read"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Certificates"
        ],
        "summary": "Delete a Certificate",
        "description": "To delete a specific certificate, send a DELETE request to\n\u0060/v2/certificates/$CERTIFICATE_ID\u0060.\n",
        "operationId": "CertificatesDelete",
        "parameters": [
          {
            "$ref": "#/components/parameters/certificate_id"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/no_content"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "429": {
            "$ref": "#/components/responses/too_many_requests"
          },
          "500": {
            "$ref": "#/components/responses/server_error"
          },
          "default": {
            "$ref": "#/components/responses/unexpected_error"
          }
        },
        "security": [
          {
            "bearer_auth": [
              "certificate:delete"
            ]
          }
        ]
      }
    },
    "/v2/customers/my/balance": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "Get Customer Balance",
        "description": "To retrieve the balances on a customer\u0027s account, send a GET request to \u0060/v2/customers/my/balance\u0060.",
        "operationId": "BalanceGet",
        "responses": {
          "200": {
            "$ref": "#/components/responses/balance"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "429": {
            "$ref": "#/components/responses/too_many_requests"
          },
          "500": {
            "$ref": "#/components/responses/server_error"
          },
          "default": {
            "$ref": "#/components/responses/unexpected_error"
          }
        },
        "security": [
          {
            "bearer_auth": [
              "billing:read"
            ]
          }
        ]
      }
    },
    "/v2/customers/my/billing_history": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "List Billing History",
        "description": "To retrieve a list of all billing history entries, send a GET request to \u0060/v2/customers/my/billing_history\u0060.",
        "operationId": "BillingHistoryList",
        "responses": {
          "200": {
            "$ref": "#/components/responses/billing_history"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "429": {
            "$ref": "#/components/responses/too_many_requests"
          },
          "500": {
            "$ref": "#/components/responses/server_error"
          },
          "default": {
            "$ref": "#/components/responses/unexpected_error"
          }
        },
        "security": [
          {
            "bearer_auth": [
              "billing:read"
            ]
          }
        ]
      }
    },
    "/v2/customers/my/invoices": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "List All Invoices",
        "description": "To retrieve a list of all invoices, send a GET request to \u0060/v2/customers/my/invoices\u0060.",
        "operationId": "InvoicesList",
        "parameters": [
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/invoices"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/too_many_requests"
          },
          "500": {
            "$ref": "#/components/responses/server_error"
          },
          "default": {
            "$ref": "#/components/responses/unexpected_error"
          }
        },
        "security": [
          {
            "bearer_auth": [
              "billing:read"
            ]
          }
        ]
      }
    },
    "/v2/customers/my/invoices/{invoiceUuid}": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "Retrieve an Invoice by UUID",
[...]
